.header{
  
  display: flex;
  align-items: center;
  padding: 14px;

}
.logo{
  width: 100px;
}
body{
  
  background: #000;
}
.container{

  width: 500px;
  margin: 0 auto;
  background: #fff;
  height: 100vh;
}
.logo-container{
  width: 50%;
  float: left;
}
.header-text {
  padding: 14px;
}
.header-text h1{
  color: Red ;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
}
.infoicon{
  
  text-align: right;
  width: 50%;
  float: right;
}
.footer{
  position: fixed;
    display: flex;
    bottom: 0;
    width: 500px;
    align-items: center;
    height: 76px;

}
.secondbutton{
 
  background: linear-gradient(31.62deg, #299F16 0%, #8BFF78 100%);
  box-shadow: 0px 0px 15px rgb(0 0 0 / 15%);
  border-radius: 10px 10px 0px 0px;
  width: 50%;
  text-align: center;
  vertical-align: middle;
  height: 76px;
  cursor: pointer;
  padding-top: 7%;
}
.secondbutton:hover{
  background: #60ed4a;
}
.firstbutton{
  width: 50%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding-top: 7%;
  height: 76px;
  background: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
 
}
.firstbutton:hover{
  background: rgb(240, 238, 238);
}
.cards{
  
}
ul {
  position: relative;
  top: 172px; left: 200px; /*for example purposes only*/
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  position: absolute;
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  transition: all 2s linear;
}

